@import 'tailwindcss';

@theme inline {
  --spacing-8xl: 90rem;

  --color-primary: #ff5f3f;
  --color-primary-light: #f4ebeb;
  --color-dark: #111111;
  --color-dark-alternate: #1b1918;

  --font-poppins: var(--font-poppins);
}

@layer base {
  * {
    @apply font-poppins;
  }

  html {
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
  }
}
