@import 'tailwindcss';

@theme inline {
  --color-primary: #ff5f3f;
  --color-primary-light: #f4ebeb;
  --color-dark: #111111;
  --color-dark-alternate: #1b1918;

  --font-poppins: var(--font-poppins);
}

html {
  overflow-x: hidden;
}

* {
  @apply font-poppins;
}
