@import 'tailwindcss';

@theme inline {
  --breakpoint-xs: 30rem;

  --color-primary: #ff5f3f;
  --color-primary-light: #f4ebeb;
  --color-dark: #111111;
  --color-dark-alternate: #1b1918;

  --font-poppins: var(--font-poppins);
}

@layer base {
  * {
    @apply font-poppins;
  }

  html {
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .input-group {
    @apply mb-5;
  }

  .input-group label {
    @apply block mb-1 text-xs;
  }

  .input-group input,
  .input-group textarea {
    @apply w-full py-2.5 px-4 text-sm outline-none duration-300 bg-gray-100 focus:ring focus:ring-gray-400;
  }

  .input-group-admin label {
    @apply block mb-2 text-xs font-medium;
  }

  .input-group-admin input,
  .input-group-admin textarea,
  .input-group-admin select {
    @apply w-full py-2.5 px-4 text-sm rounded-md ring ring-gray-300 outline-none duration-300 focus:ring-gray-500;
  }
}
