@import 'tailwindcss';

@theme inline {
  --breakpoint-xs: 30rem;

  --color-primary: #ff5f3f;
  --color-primary-light: #f4ebeb;
  --color-dark: #111111;
  --color-dark-alternate: #1b1918;

  --font-poppins: var(--font-poppins);
}

@layer base {
  * {
    @apply font-poppins;
  }

  html {
    overflow-x: hidden;
  }

  button {
    cursor: pointer;
  }

  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
